body {
    background: #1a1a1a;
    margin-top: 200px;
    position: relative;
}

.content {
    padding: 10px;
    width: 498px;
    height: 498px;
    margin: 0 auto;
    background: url('bg.png') no-repeat 15px 15px;
    position: relative;
}

.full-clock {
    border: 4px solid grey;
    margin: 0 auto;
    position: absolute;
}

.second {
    position: absolute;
    top: 315px;
    left: 178px;
}

/* Custom pointer */
.second .pointer div.line{
    height: 90px;
    width: 8px;
    position: relative;
    background: white;
    margin-top: -50px;
    margin-left: -1px;
}

.second .pointer div.arrow {
    position: absolute;
    top: 40px;
    margin-left: -1px;
    
    width: 0;
    height: 0;
    background: none;
    
    border-top: 16px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
/* -------------- */

.third {
    position: absolute;
    top: 280px;
    left: 278px;
}