body {
    background: #1a1a1a;
}

.content {
    width: 330px;
    height: 330px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
    border: 1px solid grey; 
}

.half-clock {
    background: #282828;
    border: 2px solid #7e7e7e;
    position: absolute;
}

canvas {
    border: 2px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
}
